<div class="">
    <h3>list</h3>
    <h1>{{$ctrl.user.name}}님의 신청 내역</h1>
    <div class="" ng-repeat="list in $ctrl.list">
        <p>매장 이름 : {{list.mname}}</p>
        <p>체험내역 : {{list.contents}}</p>
        <p>일시 : {{list.date}}</p>
        <p>입금 : {{list.deposit}}</p>
        <p>체험단선정 : {{list.completeEx}}</p>
        <p>완료 : {{list.completeAll}}</p>
        <!-- <button type="submit" ng-click="$ctrl.onClickDeleteButton(list.id)">삭제</button> -->
        <a href="#!/dlist/{{$ctrl.user.name}}/{{list.id}}"><button>자세히보기</button></a>
        <hr>

        <div ng-repeat="list in $ctrl.exuser_data">
            <div class="row text-center">
                <p class="col-md-1">{{list.name}}</p>
                <p class="col-md-1">{{list.nickname}}</p>
                <p class="col-md-1">{{list.gender}}</p>
                <p class="col-md-1">{{list.phone}}</p>
                <p class="col-md-1">{{list.blog}}</p>
                <p class="col-md-1">{{list.cancel}}</p>
                <p class="col-md-1">{{list.complete}}</p>
            </div>
        </div>
    </div>
</div>