<div class="verify-wrapper">
    <div class="verify-infor">
        <h3>신청 확인</h3>
        <p>이름과 핸드폰 번호를 입력하여, 신청 내역을 확인하세요.</p>
    </div>
    <form class="verify-form">
        <div class="form-group">
            <label>이름</label>
            <input class="form-control" type="text" ng-model="verifyinfor.name"/>
        </div>
        <div class="form-group">
            <label>휴대폰 번호</label>
            <input class="form-control" type="text" ng-model="verifyinfor.phone"/>
        </div>
        <button class="btn btn-primary btn-block" type="submit" ng-click="$ctrl.onSubmitClicked(verifyinfor)">확인</button>
    </form>
</div>