<div class="main-wrapper">
    <hr>
    <hr>
    <hr>
    <form ng-class="">
        <h3>이름</h3>
        <input type="text" ng-model="boinfor.name" required/>
        
        <h3>연락처</h3>
        <input type="number" ng-model="boinfor.phone" required/>
        
        <h3>매장 연락처</h3>
        <input type="number" ng-model="boinfor.mphone" required/>
        
        <h3>매장 주소</h3>
        <input type="text" ng-model="boinfor.address" required/>

        <h3>체험단 명수</h3>
        <input type="number" ng-model="boinfor.exnumber" required/>

        <h3>비밀번호</h3>
        <input type="text" ng-model="boinfor.passwd" required/>

        <h3>기타 문의</h3>
        <textarea ng-model="boinfor.comment">test</textarea>
        <hr>
        <button type="submit" ng-click="$ctrl.onClickSubmit(boinfor)">제출</button>
    </form>
</div>